<div class="main-player-block">
  <div class="player-controls-block">
    <div class="current-playing-text" *ngIf="superMinPlayer">
      <span class="now-playing-label">Now playing: </span>
      <span>{{ currentVideoText | nowPlayingName }}</span>
    </div>
    <span class="mute-block">
			<button id="fullscreen_tip" class="mdl-button mdl-js-button mdl-button--icon"
              [ngClass]="{'active': fullscreenActive}" (click)="toggleFullscreen()">
				<i class="material-icons">fullscreen</i>
			</button>
			<div class="mdl-tooltip mdl-tooltip--top" data-mdl-for="fullscreen_tip">
				Fullscreen
			</div>
		</span>
    <button id="prev_tip" class="mdl-button mdl-js-button mdl-button--icon prev" (click)="prevVideo()">
      <i class="material-icons">skip_previous</i>
    </button>
    <div class="mdl-tooltip mdl-tooltip--top" data-mdl-for="prev_tip">
      Previous
    </div>
    <button class="mdl-button mdl-js-button mdl-button--icon play" (click)="playPause('play')" *ngIf="playingEvent === 'pause'">
      <i class="material-icons">play_circle_filled</i>
    </button>
    <button class="mdl-button mdl-js-button mdl-button--icon play" (click)="playPause('pause')" *ngIf="playingEvent === 'play'">
      <i class="material-icons">pause_circle_filled</i>
    </button>
    <button id="next_tip" class="mdl-button mdl-js-button mdl-button--icon next" (click)="nextVideo()">
      <i class="material-icons">skip_next</i>
    </button>
    <div class="mdl-tooltip mdl-tooltip--top" data-mdl-for="next_tip">
      Next
    </div>
    <span class="repeat-shuffle-block">
      <button id="repeat_tip" class="mdl-button mdl-js-button mdl-button--icon" [ngClass]="{'active': repeat}"
              (click)="toggleRepeat()">
				<i class="material-icons">repeat_one</i>
			</button>
			<div class="mdl-tooltip mdl-tooltip--top" data-mdl-for="repeat_tip">
				Repeat one
			</div>
      <button id="shuffle_tip" class="mdl-button mdl-js-button mdl-button--icon" [ngClass]="{'active': shuffle}"
              (click)="toggleShuffle()">
				<i class="material-icons">shuffle</i>
			</button>
			<div class="mdl-tooltip mdl-tooltip--top" data-mdl-for="shuffle_tip">
				Shuffle
			</div>
    </span>
  </div>
  <div class="player-containter" [ngClass]="{'minimized': minPlayer, 'super-minimized': superMinPlayer, 'player-fullscreen': fullscreenActive}">
    <div class="player-view-controls">
      <i class="material-icons" *ngIf="!minPlayer && !superMinPlayer && !fullscreenActive" (click)="togglePlayer()">arrow_drop_down</i>
      <i class="material-icons arrow_drop_up" *ngIf="minPlayer && !superMinPlayer && !fullscreenActive" (click)="togglePlayer()">arrow_drop_up</i>
      <i class="material-icons minimize" *ngIf="!superMinPlayer && !fullscreenActive" (click)="minimizePlayer()">remove</i>
    </div>
    <div class="main-yt-player-block">
      <i class="material-icons" *ngIf="superMinPlayer" (click)="minimizePlayer()">zoom_out_map</i>
      <div id="yt-player"></div>
    </div>
  </div>

  <button id="demo-menu-top-right" class="mdl-button mdl-js-button mdl-button--icon playlist-drop-button" (click)="openClosedPlaylist()">
    <i class="material-icons">more_vert</i>
  </button>

  <ul class="mdl-menu mdl-menu--top-right mdl-js-menu" data-mdl-for="demo-menu-top-right">
    <li class="mdl-menu__item" (click)="exportPlaylistAction()">Export playlist</li>
    <li class="mdl-menu__item" (click)="importPlaylistAction()">Import playlist</li>
    <li class="mdl-menu__item mdl-menu__item--full-bleed-divider" (click)="clearPlaylistAction()">Clear playlist</li>
    <li class="mdl-menu__item" (click)="toggleNotifications()" [ngStyle]="{'color': !notifications ? 'rgb(186, 52, 54)': 'rgb(53, 132, 39)' }">Notifications</li>
  </ul>

  <input id="import_button" style="display: none;" type="file" name="file" accept=".json, .txt" (change)="handleInputChange($event)">
</div>