.playlist {
  height: calc(100% - 113px);
  width: 5%;
  max-width: 70px;
  position: fixed;
  top: 64px;
  right: 0;
  background-color: rgba(49, 68, 86, 1);
  overflow-x: hidden;
  transition: 0.1s;
  box-shadow: -2px 2px 2px 0 rgba(0, 0, 0, .14), -2px 3px 1px -2px rgba(0, 0, 0, .2), -2px 1px 5px 0 rgba(0, 0, 0, .12);
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.playlist.opened {
  width: 25%;
  max-width: 25%;
  z-index: 993;
  height: calc(100% - 114px);
  box-shadow: none;
}

.playlist-thumbnail {
  height: 55px;
  width: 55px;
  background: #000;
  margin: 5px;
  display: inline-block;
  position: relative;
}

.playist-item.playing {
  background: rgba(196, 48, 43, 0.95);
}

.playist-item-empty {
  color: #fff;
}

.playist-item-empty .playlist-thumbnail {
  text-align: center;
}

.playist-item-empty i {
  margin-top: 10px;
  font-size: 35px;
}

.playist-item:hover {
  background: rgba(196, 48, 43, 0.5);
  cursor: pointer;
}

.playist-item:hover .delete-from-playlist {
  display: block;
}

.no-in-playlist {
  color: #fff;
  text-shadow: 2px 2px 2px #000;
}

.video-duration {
  color: #fff;
  text-shadow: 2px 2px 2px #000;
  position: absolute;
  bottom: -4px;
  left: 1px;
  font-size: 9px;
}

.opened-item-info {
  display: inline-block;
  color: rgba(255, 255, 255, 0.8);
  position: absolute;
  left: 70px;
  margin-top: 8px;
}

.opened-item-info.closed {
  display: none;
}

.delete-from-playlist {
  position: absolute;
  display: none;
  bottom: 0;
  right: 0;
  color: #f44542;
  background-color: rgba(0, 0, 0, 0.65);
  font-size: 16px;
}

@media (max-width: 1150px) {
  .playlist {
    width: 0;
  }
  .playlist.opened {
    width: 40%;
    max-width: 40%;
  }
}

@media (max-width: 620px) {
  .playlist.opened {
    width: 70%;
    max-width: 70%;
  }
}