.mdl-navigation {
  width: 100%;
}

.mdl-layout-title {
  margin-right: 10px;
}

.mdl-layout-title>img {
  height: 35px;
}

.mdl-layout__header {
  height: 64px;
  background-color: rgb(79, 111, 144);
}

.mdl-layout__content {
  width: 95%;
}

.mdl-layout__header-row {
  padding: 0 40px 0 16px;
}

.mdl-layout__drawer-button {
  right: 0;
  left: inherit;
}

.blur-main-playlist-opened {
  opacity: 0.4;
  transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
}

.mdl-js-snackbar {
  bottom: 0;
  z-index: 999;
  right: 0;
  background-color: rgba(196, 48, 43, 0.85);
}

@media (max-width: 850px) {
  .mdl-layout-title>img {
    height: 30px;
  }
}

@media (max-width: 1150px) {
  .mdl-layout__content {
    width: 100%;
  }
  .yt-player,
  .ytp-cued-thumbnail-overlay {
    width: 100px;
  }
}